<div class="parent">
  <div class="contain">
    <h1>Angular - Electron - Resin</h1>
    <div class="row">
      <div class="row__inner">
        <div class="tile" *ngFor="let person of persons">
          <div class="tile__media">
            <img class="tile__img" [src]="person.imageUrl" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              {{person.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
