/* You can add global styles to this file, and also import other style files */


/*https://codepen.io/joshhunt/pen/LVQZRa*/

body,
html {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

